@import url('https://fonts.googleapis.com/css?family=Carter+One|Inconsolata:700|Source+Sans+Pro:400,700');

@import './variables';
@import '~bulma';
@import '~buefy/src/scss/buefy';
@import '~bulma-slider/src/sass/index';

@import '../fontello/css/fontello.css';
@import '../fontello/css/fontello-codes.css';

.hero, .hero * {
    transition: background-color 0.25s, border-color 0.25s, color 0.1s;
}

html {
    overflow-y: auto;
}

h1.site-name {
    font-size: 35px;
    font-family: 'Carter One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

@include tablet {
    h1.site-name {
        font-size: 60px;
    }
}

@include mobile {
    h1.site-name {
        font-size: 10vw;
    }
}

#confetti {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main-area .column {
    z-index: 10;
}

.password-container .input {
    font-family: $family-monospace;
    font-weight: 700;
    background-color: $grey-lighter;
    color: $grey-dark;

    &::selection {
        background: $blue;
        color: $white-ter;
    }
}

.password-container .control .icon,
.password-container .control .input:focus ~ .icon {
    color: $grey-dark;
}

.is-dark {
    .password-container .input {
        background-color: $grey-darker;
        color: $grey-light;
        border-color: $grey-dark;

        &:focus {
            border-color: $grey;
        }

        &::selection {
            background: $grey-light;
            color: $grey-lighter;
        }
    }

    .password-container .control .icon,
    .password-container .control .input:focus ~ .icon {
        color: $grey-light;
    }

    .is-success {
        background-color: darken($green, 10%);
    }
}

.button {
    box-shadow: inset -1px -1px 2px rgba($black, 0.05);
}

.hide-tooltip {
    &:before, &:after {
        opacity: 0 !important;
    }
}

input[type=range].slider {
    &::-webkit-slider-runnable-track {
        background: linear-gradient(to right, $blue var(--low), $blue calc(0%), $blue var(--high), $grey-lighter calc(0%)) no-repeat 0 100%;
    }
    &::-webkit-slider-thumb {
        border-color: $blue;
        border-width: 3px;
    }
}

a[disabled], .hero.is-dark a[disabled] {
    color: $grey;
    cursor: default;
}

.card {
    background-color: rgba($white, 0.8);
    .card-header, .card-footer {
        background-color: rgba($white, 0.8);
    }
}

.is-dark .button:not(.is-success) {
    background-color: $dark;
    color: $dark-invert;
    border-color: $grey-darker;
}

.is-dark .card {
    background-color: rgba($dark, 0.8);
    .card-header, .card-footer {
        background-color: rgba($dark, 0.8);
    }

    color: $dark-invert;
    box-shadow: 0 2px 3px rgba($white, 0.1), 0 0 0 1px rgba($white, 0.1);

    .card-header {
        box-shadow: 0 1px 2px rgba($white, 0.1);
    }
    .card-header-title, .content, .label {
        color: $grey-lighter;
    }
    .label {
        font-weight: normal;
    }
    .card-footer, .card-footer-item {
        color: $dark-invert;
        border-color: $grey-darker;
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .15s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
