@import url('https://fonts.googleapis.com/css?family=Carter+One|Inconsolata:700|Source+Sans+Pro:400,700');

@import './variables';
@import '~bulma';

@import '../fontello/css/fontello.css';
@import '../fontello/css/fontello-codes.css';

html {
    overflow-y: auto;
}

h1.site-name {
    font-size: 35px;
    font-family: 'Carter One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@include tablet {
    h1.site-name {
        font-size: 60px;
    }
}

@include mobile {
    h1.site-name {
        font-size: 10vw;
    }
}

#confetti {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main-area .column {
    z-index: 10;
}

#password {
    font-family: $family-monospace;
    font-weight: 700;
    background-color: $grey-lighter;
    color: $grey-dark;
}

#generate {
    box-shadow: inset -1px -1px 2px rgba($black, 0.05);
}
