@import url('https://fonts.googleapis.com/css?family=Carter+One|Inconsolata:700|Source+Sans+Pro:400,700');

@import './variables';
@import '~bulma';

@import '../fontello/css/fontello.css';
@import '../fontello/css/fontello-codes.css';

html {
    overflow-y: auto;
}

h1.site-name {
    font-size: 35px;
    font-family: 'Carter One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@include tablet {
    h1.site-name {
        font-size: 60px;
    }
}

@include mobile {
    h1.site-name {
        font-size: 10vw;
    }
}

#confetti {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main-area .column {
    z-index: 10;
}

.password-container .input {
    font-family: $family-monospace;
    font-weight: 700;
    background-color: $grey-lighter;
    color: $grey-dark;

    &::selection {
        background: $blue;
        color: $white-ter;
    }
}

.password-container .control .icon,
.password-container .control .input:focus ~ .icon {
    color: $grey-dark;
}

.is-dark {
    .password-container .input {
        background-color: $grey-darker;
        color: $grey-light;
        border-color: $grey-dark;

        &:focus {
            border-color: $grey;
        }

        &::selection {
            background: $grey-light;
            color: $grey-lighter;
        }
    }

    .password-container .control .icon,
    .password-container .control .input:focus ~ .icon {
        color: $grey-light;
    }

    .is-success {
        background-color: darken($green, 10%);
    }
}

#generate {
    box-shadow: inset -1px -1px 2px rgba($black, 0.05);
}
